//* --- COLOR PALETS --- *//
$brand_white: #ffffff;
$brand_purple: #311852;
$brand_light_purples: #4D36DC;
$brand_pink: #ffdfed;
$brand_orange: #ff7a1f;
$brand_light_gray: #f7f0ff;
$brand_gray: #8D829C;
$brand_light_yellow: #fff9f5;